{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Disegno Reale</title>
    <link rel="icon" href="{% static '/images/royal.jpg' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Festive&family=Redressed&family=Shizuru&display=swap');
        .heading
        {
            font-family: 'Festive', cursive;
            font-size: 150%;
        }
        .nav-fonts
        {
            font-family: 'Redressed', cursive;
            font-size: 120%;
        }
        .image-render
        {
            max-width: 100%;
            height: auto;
        }
        .search-header
        {
            font-family: 'Shizuru', cursive;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cc7350;">
        <a class="navbar-brand" href="/">
            <img style="height:60px;" src="{% static '/images/royal.jpg' %}" class="img-thumbnail img-fluid image-render rounded-circle">
            <strong class="heading align-middle">
                Disegno Reale
            </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <form class="form-inline" method="post" action="/search">

                    {% csrf_token %}

                    <input class="form-control mr-sm-2" type="search" placeholder="Search here" aria-label="Search" name="searched">
                    <button class="btn bg-dark text-white my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="/cart">Cart 
                        <span class="badge badge-danger">{{ request.session.cart.keys|length }}</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if request.session.customer %}
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="/orders">Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="#">{{ request.session.email }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="/signup">Signup <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-fonts align-middle" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>